* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    text-decoration: none;
    background: blue;
    padding: 9px 18px;
    border-radius: 6px;
    color: white;
}
nav {
    padding: 10px;
    .container {
        display: flex;
        justify-content: space-between;
}

}

.main {
    width: 100%;
    display: flex;
    min-height: 70vh;
    background: url("https://images.unsplash.com/photo-1465634836201-1d5651b9b6d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHlqZSUyMHNlYXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60") no-repeat center/cover;
        .container {
            margin: auto;
            text-align: center;
            .text {
                color: white;
                font-size: 40px;
            }
        }
    }
            email {
                padding: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            input {
                padding: 15px;
                border: none;
                border-radius: 4px;
                outline: none;
                width: 40%;   
            }
            .btn {
                padding: 13px 34px;
                margin-left: 16px;
            }
.products {
    width: 100%;
    padding: 100px;
    .container {
        display: flex;
        justify-content: space-between;
        .box {
            width: 250%;
            text-align: center;
            color:blue;
    }   
}
}
h3, p {
    color: black;
}
p {
    font-size: 20px;
}